header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #d26868;
  z-index: 1000;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
  color: #610015;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.navbar li:hover {
  color: #ffeff1;
}

.navbar li.active a {
  color: #ffeff1;
  font-weight: bold;
  border-bottom: 2px solid #ffeff1;
}

h1 {
  font-size: 1.8rem;
  color: #ffeff1;
  margin: 0.8rem;
}
app-home, app-features, app-guide, app-contact {
  display: block;
  height: 100vh;
}

app-home {
  padding-top: 3.5rem;
}

.site-wrapper {
  position: relative;
  isolation: isolate;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.container-item {
  margin-left: 1rem;
  padding-inline: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1em;
  }
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .navbar ul {
    flex-direction: row;
    justify-content: center;
    margin: 0 1rem;
  }
  .navbar li {
    margin: 0.4rem;
  }
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
}