.support-container {
  max-width: 900px;
  margin: 1rem auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.08);
  border: 2px solid #d26868;
  padding: 2rem 3rem;
}

.support-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  margin-bottom: 2rem;
}

.support-grid h3 {
  margin-top: 0;
  color: #2d2d2d;
  font-weight: 600;
}

.support-grid ul {
  padding-left: 20px;
}

.support-grid li {
  margin-bottom: 8px;
  color: #333;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .support-container {
    padding: 1rem .6rem;
  }

  .support-grid {
    grid-template-columns: 1fr;
  }
}
