* {
  font-weight: normal;
}

:host {
  display: block;
  box-sizing: border-box;
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  padding: 16px;
}

:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/Cianwood_City_HGSS.png') no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}