<div class="sidebar">
    <img class="logo" src="Gold_Silver_Gen_2.png" alt="">
    
    <div class="sidebar-info">
        <h1>Johto Region</h1>
        <h4 *ngIf="SelectedOption === 'gym-leaders'">Gym Leaders</h4>
        <h4 *ngIf="SelectedOption === 'trainer-form'">Trainers</h4>
    </div>
    
    <select [(ngModel)]="SelectedOption">
        <option value="gym-leaders">Gym Leaders</option>
        <option value="trainer-form">Trainers</option>
    </select>
    
    <div *ngIf="SelectedOption === 'gym-leaders'">
        <ul>
            <li><a routerLink="/gym-1" routerLinkActive="active">Falkner</a></li>
            <li><a routerLink="/gym-2" routerLinkActive="active">Bugsy</a></li>
            <li><a routerLink="/gym-3" routerLinkActive="active">Whitney</a></li>
            <li><a routerLink="/gym-4" routerLinkActive="active">Morty</a></li>
            <li><a routerLink="/gym-5" routerLinkActive="active">Chuck</a></li>
            <li><a routerLink="/gym-6" routerLinkActive="active">Jasmine</a></li>
            <li><a routerLink="/gym-7" routerLinkActive="active">Pryce</a></li>
            <li><a routerLink="/gym-8" routerLinkActive="active">Clair</a></li>
        </ul>
    </div>

    <div *ngIf="SelectedOption === 'trainer-form'" >
        <ul>
            <li><a routerLink="/trainer-form" routerLinkActive="active">Add Trainer</a></li>
            <li><a routerLink="/trainer-list" routerLinkActive="active">Trainer List</a></li>
        </ul>
    </div>
    
    <button class="button" (click)="navigateToHome()">
        Home
    </button>
</div>
