@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

h1, h4 {
  font-weight: lighter;
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 3px;
}

.logo {
  margin: 0px 0 17px 0;
}

.sidebar-info {
  background-color: #fff;
  color: #000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: #b74545;
  overflow-y: auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar a {
  padding: 10px 12px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.sidebar li:hover {
  background-color: #d66161;
  transform: scale(1.05);
}

.sidebar a.active {
  padding-left: 32px;
  box-shadow: inset 4px 0 0 #fff; 
}

.sidebar li > a.active {
  background-color: #d66161;
}


.button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding: 10px 12px;
  background: #803a3a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

select {
  padding: 10px 12px;
  background: #803a3a;
  color: #fff;
  cursor: pointer;
}

option {
  background: #fff;
  color: #000;
}

.button:hover {
  background: #632f2f;
}

@media (max-width: 768px) {

  .sidebar { width: var(--sidebar-width); }
  .button { width: var(--sidebar-width); }
}
