* {
  font-weight: normal;
}

:host {
  display: block;
  box-sizing: border-box;
  margin-left: var(--sidebar-width);
}

footer {
  background-color: #632f2f;
  color: #ecf0f1;
  text-align: center;
  padding: .8rem 1rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  transition: background-color 0.3s ease-in-out;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

footer:hover {
  background-color: #a72c2c;;
}


@media (max-width: 768px) {
  footer {
    padding: 1rem 0.5rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}