@for (gym of gymInfo; track gym) {
  <div class="leader">
    <img [src]="gym.LeaderArt" [alt]="gym.Leader" class="portrait">
    <h1>{{ gym.Leader }}</h1>
    <p>Type: {{ gym.Specialty }}</p>
    <img [src]="gym.BadgeArt" [alt]="gym.Badge" class="badge">
    <p>{{ gym.Badge }}</p>
    @for (note of gym.AdditionalNotes; track note) {
      <p class="small-text"> {{ note }} </p>
    }
  </div>
  <div class="pokemonparty">
    <div class="pokemonparty-container">
      <h2>{{gym.Leader}}'s Pokémon Party</h2>
      <div class="pokemonparty-grid">

        @for (pokemon of gym.PokemonParty.Pokemon; track pokemon.Name) {
          <div class="pokemon-container">
            <div class="pokemon-box">
              <div class="pokemon-box-column">
                <div class="pokemon-box-column-left">
                  <div class="pokemon-box-column-left-artbox">
                    <img [src]="pokemon.Img" [alt]="pokemon.Name">
                  </div>
                  <div class="pokemon-box-column-left-namebox">
                    {{ pokemon.Name }}
                    <span class="pokemon-male">{{ pokemon.Gender }}</span>
                    <span class="pokemon-box-column-left-level">
                      <span class="small-text">Lv.</span>
                      {{ pokemon.Level }}
                    </span>
                  </div>
                </div>
                <div class="pokemon-box-column-right">
                  <div>
                    <div class="type-label small-text">Types:</div>

                    @for (types of pokemon.Types; track types) {
                      <div [class]="'type-box ' + types">{{ types }}</div>
                    }
                  </div>
                  <div class="label small-text">
                    Held item:
                  </div>
                  <div class="held">
                    <b>
                      {{ pokemon.Held }}
                    </b>
                  </div>
                </div>
              </div>
              <div class="pokemon-move-grid">
                
                @for (moves of pokemon.Moves; track moves.Attack) {
                  <div class="pokemon-move-box">
                    <div class="pokemon-move-name">
                      {{ moves.Attack }}
                    </div>
                    <div [class]="'small-text pokemon-move-type pokemon-move-type-' + moves.Type">
                      {{ moves.Type }}
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}