.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.rtings.com/assets/products/pvkIixIQ/wooting-80he/design-small.jpg?format=auto') no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

.home-content {
  position: relative;
  z-index: 1;
  color: #fff;
  top: 40%;
  transform: translateY(-40%);
  margin: 2rem 10%;
  padding: 2rem 2rem;
  border: 2px solid #d26868;
  border-radius: 15px;
  box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.6);
  backdrop-filter: blur(16px);
}

.home-content h2 {
  margin: 0;
  text-align: center;
}

.home-content-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  object-fit: contain;
}

.home-content-grid-item {
  margin: 0.8rem;
  padding: 0.8rem;
}

.home-content-grid-item p {
  justify-content: right;
}

.home-content-grid-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 4px #fff solid;
  border-radius: 100%;
  transition: transform 0.7s cubic-bezier(0.09,0.47,0.51,0.89);
}

.home-content-grid-item img:hover {
  transform: scale(1.2) rotate(-10deg);
}