@if (trainers.length === 0) {
  <div class="placeholder-container">
    <div class="placeholder">
      <img src="/pokeball.png" alt="Pokéball" class="placeholder-icon" />
      <h1>No trainers added yet!</h1>
      <p>Start your Pokémon journey by registering your first trainer.</p>
    </div>
  </div>
} @else {
  <div class="trainer-container">
    @for (trainer of trainers; track trainer) {
      <div class="trainer">
        <h3>{{ trainer.Name }}</h3>
        <p>Age: {{ trainer.Age }}</p>
        <p><strong>Address:</strong> {{ trainer.Address }}</p>

        <p>Pokémon Party:</p>
        <ul>
          @for (pokemon of trainer.PokemonParty; track pokemon) {
            <li>{{ pokemon }}</li>
          }
        </ul>
      </div>
    }
  </div>
}